* {
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url("glacier.png"); */
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(5, 5, 5, 0.954);
}

/* ------------------------------1st Page--------------------------------------  */
h1 {
    font-size: 80px;
    display: inline;
    transition: 0.5s;
}

.namee {
    color: red;
}

h1:hover {
    font-size: 100px;
}

.goal {
    transition: 0.5s;
}

h1:hover~.goal {
    color: rgb(6, 255, 122);
}

.section1 {
    position: -webkit-sticky;
    position: sticky;
    height: 634px;
    top: 0;
    z-index: 1;
    color: wheat;
}

.taskbar {
    position: absolute;
    left: 60%;
    display: inline-block;
    z-index: 4;
}

ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

li a {
    font-size: larger;
    color: whitesmoke;
    position: relative;
}

a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ff0000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

li a:hover::after {
    width: 100%;
}

.goal {
    font-size: 20px;
}

.mainimg {
    position: absolute;
    left: 800px;
    z-index: 1;
    top: 60px;
    height: 291px;
    width: 270px;
    background-image: url("mainimg.png"), linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    background-size: 100%;
    border-radius: 50%;
    backdrop-filter: blur(2px);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 254, 0.731), 0 8px 32px 0 rgba(243, 179, 4, 0.9)inset;
    background-position: center;
    transition: step-end, 500ms;

    &:hover {
        transition: 0.5s;
        background-size: 120%;
        height: 311px;
        width: 290px;
        box-shadow: 0 8px 32px 0 rgba(189, 8, 92, 0.731), 0 8px 32px 0 rgba(224, 14, 14, 0.929)inset;
    }

    &:active {
        opacity: 0.5;
    }
}

.upper_writing {
    position: absolute;
    width: 500px;
    height: 450px;
    left: 99px;
    top: 100px;
    background-color: rgb(44, 44, 44);
    border-radius: 3%;
    box-shadow: 0 0px 20px 0 rgba(255, 255, 254, 0.731);
    text-align: center;
    transition: step-end, 500ms;
}

.upper_writing:hover {
    width: 550px;
    height: 500px;
    box-shadow: 0 0px 20px 0 rgb(217, 172, 105);
}

.callimg {
    position: absolute;
    top: 446px;
    left: 994px;
    height: 120px;
    width: 136px;
    background-image: url("phone.png");
    background-position: center;
    background-size: 200px;
    transition: step-end, 500ms;
}

.det {
    position: absolute;
    width: 220px;
    height: 50px;
    top: 480px;
    left: 750px;
    background-color: rgb(44, 44, 44);
    border-radius: 5%;
    box-shadow: 0 0px 20px 0 rgba(255, 255, 254, 0.731);
    text-align: center;
    visibility: hidden;
    transition: step-end, 500ms;
}

.callimg:hover {
    background-size: 220px;
}

.callimg:hover~.det {
    visibility: visible;
    animation: shado 0.5s ease 1;
}

.callimg:not(:hover)~.det {
    animation: shad 0.5s ease 1;
}

@-webkit-keyframes shad {
    0% {
        opacity: 100%;
    }

    10% {
        opacity: 90%;
    }

    20% {
        opacity: 80%;
    }

    30% {
        opacity: 70%;
    }

    40% {
        opacity: 60%;
    }

    50% {
        opacity: 50%;
    }

    60% {
        opacity: 40%;
    }

    70% {
        opacity: 30%;
    }

    80% {
        opacity: 20%;
    }

    90% {
        opacity: 10%;
    }

    100% {
        opacity: 0%;
    }
}

@-webkit-keyframes shado {
    0% {
        opacity: 0%;
    }

    10% {
        opacity: 10%;
    }

    20% {
        opacity: 20%;
    }

    30% {
        opacity: 30%;
    }

    40% {
        opacity: 40%;
    }

    50% {
        opacity: 50%;
    }

    60% {
        opacity: 60%;
    }

    70% {
        opacity: 70%;
    }

    80% {
        opacity: 80%;
    }

    90% {
        opacity: 90%;
    }

    100% {
        opacity: 100%;
    }
}

/* ---------------------------------------------------Second Page--------------------------------------------------------*/

.sam1 {
    width: 100%;
    height: 634px;
    position: sticky;
    top: 634px;
    z-index: 2;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-color: rgb(0, 0, 0);
    }

    25% {
        background-color: rgb(30, 30, 30);
    }

    50% {
        background-color: rgb(0, 0, 0);
    }

    75% {
        background-color: rgb(30, 30, 30);
    }

    100% {
        background-color: rgb(0, 0, 0);
    }
}

.edu {
    font-size: 50px;
    transition: 0.5s;
}

.edu:hover {
    font-size: 60px;
}

.mline {

    rotate: 90deg;
    width: 500px;
    border: 0.5px solid white;
    position: absolute;
    /* z-index: 5; */
    left: 30%;
    top: 316px;
    box-shadow: 0 0px 20px 0 rgb(255, 255, 254);
}

.lline1 {
    width: 500px;
    border: 0.5px solid white;
    position: absolute;
    left: 9%;
    top: 152px;
    box-shadow: 0 0px 20px 0 rgb(255, 255, 254);
}

.lline2 {
    width: 500px;
    border: 0.5px solid white;
    position: absolute;
    left: 9%;
    top: 447px;
    box-shadow: 0 0px 20px 0 rgb(255, 255, 254);
}

.rline1 {
    width: 500px;
    border: 0.5px solid white;
    position: absolute;
    left: 51%;
    top: 287px;
    box-shadow: 0 0px 20px 0 rgb(255, 255, 254);
}

.othedu {
    height: 200px;
    width: 200px;
}

.skls {
    position: absolute;
    top: 183px;
    left: 129px;
    font-size: 50px;
    color: #ffffff;
    font-family: cursive;
    text-shadow: 2px 2px #00f7ff;
    font-style: italic;
}

#skl {
    position: absolute;
    color: #00f7ff;
    font-family: cursive;
    font-size: 25px;
    animation: skchange 15s ease infinite;
}

@keyframes skchange {
    0% {
        color: #00f7ff;
    }

    33% {
        color: #ff00d9;
    }

    66% {
        color: #3cff00;
    }

    100% {
        color: #00f7ff;
    }
}

.skill1 {
    top: 213px;
    left: 358px;
}

.skill2 {
    top: 257px;
    left: 134px;
}

.skill3 {
    top: 302px;
    left: 134px;
}

.skill4 {
    top: 345px;
    left: 134px;
}

.ach {
    position: absolute;
    top: 289px;
    left: 649px;
    font-size: 50px;
    color: #ffffff;
    font-family: cursive;
    text-shadow: 2px 2px #ff00d9;
    font-style: italic;
}

#achi {
    position: absolute;
    font-size: 25px;
    color: #ff00d9;
    font-family: cursive;
    animation: achchange 15s ease infinite;
}

@keyframes achchange {
    0% {
        color: #ff00d9;
    }

    33% {
        color: #3cff00;
    }

    66% {
        color: #00f7ff;
    }

    100% {
        color: #ff00d9;
    }
}

.achl1 {
    top: 362px;
    left: 649px;
}

.achl2 {
    top: 395px;
    left: 649px;
}

.achl3 {
    top: 429px;
    left: 649px;
}

.addr {
    position: absolute;
    top: 445px;
    left: 118px;
    font-size: 50px;
    color: #ffffff;
    font-family: cursive;
    text-shadow: 2px 2px #3cff00;
    font-style: italic;
}

#addre {
    position: absolute;
    font-size: 25px;
    color: #3cff00;
    font-family: cursive;
    animation: addchange 15s ease infinite;
}

@keyframes addchange {
    0% {
        color: #3cff00;
    }

    33% {
        color: #00f7ff;
    }

    66% {
        color: #ff00d9;
    }

    100% {
        color: #3cff00;
    }
}

.addl1 {
    top: 515px;
    left: 274px;
}

.addl2 {
    top: 543px;
    left: 309px;
}

@media screen and (max-width: 700px) {
     .taskbar{
        left: 70%;
    }
    .section1 {
        height: 850px;
        border: solid red;
    }

    .mainimg {
        top: 10px;
        height: 251px;
        width: 240px;
        left: 10px;
    }

    .mainimg:hover {
        height: 271px;
        width: 260px;
    }

    .upper_writing {
        width: 230px;
        height: 408px;
        left: 16px;
        top: 362px;
        font-size: smaller;
        
    }

    .upper_writing:hover {
        width: 240px;
        height: 418px;
    }

    #nm {
        font-size: xx-large;

        &:hover {
            font-size: 45px;
        }
    }

    .goal {
        font-size: medium;
    }

    .edu {
        font-size: xx-large;
        color: rgb(250, 166, 9);

        &:hover {
            font-size: 45px;
        }
    }

    #ed {
        font-size: medium;
    }

    .calleffect {
        position: absolute;
        height: 475px;
        width: 315px;
        border: solid red;
        z-index: 3;
        visibility: hidden;
        backdrop-filter: blur(10px);
    }

    .callimg {
        top: 712px;
        left: 298px;
        height: 58px;
        width: 66px;
        background-size: 100px;

        &:active {
            opacity: 0.5;
        }

        &:hover {
            background-size: 110px;
        }
    }

    .det {
        width: 140px;
        height: 27px;
         top: 662px;
        left: 265px;
    }

    .mail {
        font-size: xx-small;
    }

    .conta {
        font-size: x-small;
    }

    .sam1 {
        height: 475px;
    }

    .mline {
        width: 400px;
        top: 237px;
        left: -12%;
    }

    #lline {
        width: 150px;
    }

    .lline1 {
        left: 3%;
        top: 76px;
    }

    .lline2 {
        left: 3%;
        top: 332px;
    }

    .rline1 {
        top: 190px;
    }

    #hea {
        font-size: large;
    }

    .skls {
        top: 90px;
        left: 3%;
    }

    #skl {
        font-size: xx-small;
        left: 3%;
    }

    .skill1 {
        top: 130px;
    }

    .skill2 {
        top: 174px;
    }

    .skill3 {
        top: 219px;
    }

    .skill4 {
        top: 262px;
    }

    .addr {
        left: 3%;
        top: 346px;
    }

    #addre {
        font-size: xx-small;
        left: 3%;
    }

    .addl1 {
        top: 385px;
    }

    .addl2 {
        top: 407px;
    }

    .ach {
        left: 166px;
        top: 202px;
    }

    #achi {
        font-size: xx-small;
        left: 166px;
    }

    .achl1 {
        top: 240px;
    }

    .achl2 {
        top: 265px;
    }

    .achl3 {
        top: 300px;
    }
}
