body {
    /* background-image: url("glacier.png"); */
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(5, 5, 5, 0.954);
}

.taskbar {
    position: absolute;
    left: 60%;
    display: inline-block;
    z-index: 4;
}

ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

li a {
    font-size: larger;
    color: whitesmoke;
    position: relative;
}

a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ff0000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

li a:hover::after {
    width: 100%;
}

.maincontainer {
    position: absolute;
    width: 700px;
    height: 400px;
    top: 150px;
    left: 290px;
    box-shadow: 0 0 20px red;
    border-radius: 3%;
    background: #1b1b1b;
    animation: sh 30s infinite ease;
}

@-webkit-keyframes sh {
    0% {
        box-shadow: 0 0 20px red;
    }

    10% {
        box-shadow: 0 0 20px rgb(255, 128, 0);
    }

    20% {
        box-shadow: 0 0 20px rgb(0, 255, 183);
    }

    30% {
        box-shadow: 0 0 20px rgb(34, 0, 255);
    }

    40% {
        box-shadow: 0 0 20px rgb(200, 0, 255);
    }

    50% {
        box-shadow: 0 0 20px rgb(255, 0, 149);

    }

    60% {
        box-shadow: 0 0 20px rgb(200, 0, 255);
    }

    70% {
        box-shadow: 0 0 20px rgb(34, 0, 255);
    }

    80% {
        box-shadow: 0 0 20px rgb(0, 255, 183);
    }

    90% {
        box-shadow: 0 0 20px rgb(255, 128, 0);
    }

    100% {
        box-shadow: 0 0 20px red;
    }
}

.btn {
    position: relative;
    background-color: aliceblue;
    border-radius: 3%;
    width: 50px;
    top: 265px;
    left: 315px;
    transition: step-end, 500ms;
}

.btn:active {
    background-color: purple;
    border: #4d4d4d;
}

.stl {
    position: absolute;
    background-color: #4d4d4d;
    border-color: rgb(77, 76, 76);
    border-radius: 3%;
}

#name {
    top: 97px;
    left: 75px;
}

#email {
    top: 97px;
    left: 440px;
}

#phone {
    top: 200px;
    left: 75px;
}

#organization {
    top: 200px;
    left: 440px;

}